@model AndyTipsterPro.Entities.Contact


@{
    ViewBag.Title = "Contact";
}


<div class="col-xs-12">
    <p class="lead lead-lg text-center animated bounceInLeft animation-delay-12">Got a <strong>question</strong>. or a <br><strong>suggestion</strong>, feel free to contact us.</p>
</div>


<div class="row">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-lg-offset-3 col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    }


</div>

@*<partial name="facebookw" />*@


@*<div class="row">
    <div class="col-md-8">
        <section>
            <h2 class="section-title">Send Message</h2>

            <p>Lorem ipsum Ex aliqua tempor nisi laboris dolor id laborum irure minim tempor in sit dolore amet sit esse nostrud tempor nulla consequat aute in nostrud laboris sint ullamco amet nisi pariatur officia nulla pariatur in id et labore dolore ad sit.</p>

            <form role="form">
                <div class="form-group">
                    <label for="InputName">Name</label>
                    <input type="email" class="form-control" id="InputName">
                </div>
                <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="InputEmail1">
                </div>
                <div class="form-group">
                    <label for="InputMessage">Mesagge</label>
                    <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <div class="clearfix"></div>
            </form>
        </section>
    </div>

    <div class="col-md-4">
        <section>
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-envelope-o"></i> Additional Information</div>
                <div class="panel-body">
                    <h4 class="section-title">Contacts</h4>
                    <address>
                        <strong>Open Mind, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
                        Mail: <a href="#">support@openmid.com</a>
                    </address>

                     Business Hours 
                    <h4 class="section-title">Business Hours</h4>
                    <ul class="list-unstyled">
                        <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
                        <li><strong>Saturday:</strong> 9am to 2pm</li>
                        <li><strong>Sunday:</strong> Closed</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>*@