@model IEnumerable<AndyTipsterPro.Entities.Tips>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElitePackageTips)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombinationPackageTips)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UKPackageTips)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Welcome)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElitePackageTips)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CombinationPackageTips)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UKPackageTips)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Welcome)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }
}
else
{
    <p>No Tips added yet.</p>
}


